html,
h1,
h2,
h3,
span,
p,
div,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  background-color: #f3f5fc;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: white;
}

textarea {
  font-family: "Inter", sans-serif;
  background-color: inherit;
  border: none;
  overflow: auto;
  resize: none;
}

textarea:focus {
  border: none;
  outline: 0;
}

.logo {
  position: absolute;
  top: 32px;
  left: 26px;
}

.logo img {
  width: 100px;
}

.container {
  z-index: 1;
  position: relative;
  display: flex;
  min-width: 100%;
}
@media (max-width: 1460px) {
  .container {
    flex-direction: column;
  }
  .container .input-container {
    min-width: 100%;
  }
  .container .input {
    margin: 240px 40px 0 40px;
  }
  .container-btn-requisitos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .container-buttons {
    display: flex;
    justify-content: center;
    margin: 16px 40px 0px 40px;
  }
  .container .requisitos {
    margin: 0px 40px 0px 40px;
  }
  .container .output-container {
    width: calc(100% - 144px);
    margin: 200px 40px 40px 40px;
  }
  .output-container .muneco {
    display: none;
  }
  .container-buttons button:nth-child(1) {
    margin: 0 0 24px 0;
  }
  .container-btn-requisitos .container-buttons button:nth-child(2) {
    margin-left: 0px;
  }
  .container #texto-encriptado {
    min-height: 300px;
  }
}
@media (max-width: 715px) {
  .container {
    flex-direction: column;
  }
  .container .input-container {
    min-width: 100%;
  }
  .container .input {
    margin: 152px 16px 0 16px;
  }
  .container-btn-requisitos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px 16px 0px 16px;
  }
  .container .requisitos {
    width: 328px;
    margin: 0px 16px;
  }
  .container .output-container {
    min-width: calc(100% - 112px);
    margin: 200px 24px 40px 24px;
  }
  .output-container .muneco {
    display: none;
  }
  .container .logo {
    position: absolute;
    top: 24px;
    left: 4px;
  }
  .container #texto-encriptado {
    min-height: 300px;
  }
}

.input-container {
  background-color: transparent;
  width: calc(100% - 440px);
  height: 100vh;
}

.input {
  margin: 168px 0 0 240px;
  min-height: calc(100vh - 357px);
}

.textarea {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  background-color: inherit;
  border: none;
  overflow: hidden;
  resize: none;
  min-width: 100%;
  min-height: 600px;
  color: aliceblue;
}

.requisitos {
  width: 680px;
  margin: 16px 0 0 240px;
}

.requisitos span {
  color: #757575;
}

.container-buttons {
  margin: 16px 0 0 240px;
}

.container-buttons button {
  cursor: pointer;
  height: 67px;
  font-size: 16px;
  border-radius: 28px;
  width: 328px;
  color: white;
  border: none;
}
.container-buttons button:nth-child(1) {
  background-color: #0a3871;
  margin-right: 12px;
}
.container-buttons button:nth-child(2) {
  color: #0a3871;
  border: 1px solid #0a3871;
  background-color: #d8dfe8;
  margin-left: 12px;
}
.output-container {
  position: relative;
  background-color: rgba(55, 57, 61, 0.5);
  border-radius: 32px;
  padding: 32px;
  width: 400px;
  margin: 40px;
  min-height: calc(100% - 50px);
}
.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.output-container h3 {
  text-align: center;
  font-size: 24px;
}

.output-container span {
  margin-top: 16px;
  display: block;
  text-align: center;
}

.bloque-resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.notVisible {
  display: none;
}
.isVisible {
  display: flex;
}

#texto-encriptado {
  text-align: start;
  width: 100%;
  min-height: calc(100% - 80px);
  color: white;
  font-size: 18px;
}

.btn-copiar {
  background-color: #0a3871;
  cursor: pointer;
  height: 67px;
  font-size: 16px;
  border-radius: 28px;
  color: white;
  width: 340px;
}
.bloque-btn-copy {
  position: relative;
}
.bloque-btn-copy img {
  top: 17px;
  left: 40px;
  position: absolute;
  height: 30px;
}
